.register {
  &__button {
    background: linear-gradient(45deg, #00e676 20%, #d1ff33 90%) !important;
    margin: 16px 0px !important;
    padding: 6px 16px !important;
    font-family: "Muli", sans-serif !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    text-transform: none !important;
    color: #000 !important;
  }
}
