.invoiceTable {
  min-height: 510px;
  position: relative;
  background-color: #fff;
  overflow: auto;

  &__table {
    position: absolute;
  }

  &__cellHead {
    background: rgb(171, 186, 8) !important;
    color: #000 !important;
    padding: 16px !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    white-space: nowrap;
  }

  &__cellBody {
    padding: 3px 16px !important;
    font-size: 0.9rem !important;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__formControlLabel {
    margin: 0 !important;
  }

  &__rowBody:nth-of-type(odd) {
    background-color: #ebedf0;
  }

  &__iconButton {
    background: rgba(198, 251, 191, 0.815) !important;
    color: rgb(2, 78, 42) !important;
  }
}

.menuFile {
  &__menuItem {
    padding: 12px 16px !important;
  }

  &__fileType {
    width: 20px;
    height: 20px;
  }

  &__fileName {
    margin-left: 8px;
    line-height: 1.5;
    font-size: 0.8rem;
  }
}
