.roomTable {
  min-height: 510px;
  position: relative;
  background-color: #fff;
  overflow: auto;

  &__table {
    position: absolute;
  }

  &__cellHead {
    background-color: #778c81 !important;
    padding: 16px !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    white-space: nowrap;
  }

  &__cellBody {
    padding: 3px 16px !important;
    font-size: 0.9rem !important;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__formControlLabel {
    margin: 0 !important;
  }

  &__rowBody:nth-of-type(odd) {
    background-color: #ebedf0;
  }
}
