.userTable {
  max-height: 577px;
  position: absolute;
  background-color: #fff;

  &__table {
    position: relative;
    overflow: auto;
  }

  &__cellHead {
    font-weight: 600 !important;
    font-size: 1rem !important;
    white-space: nowrap;
  }

  &__cellBody {
    padding: 6px 8px !important;
    font-size: 0.9rem !important;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__rowBody:nth-of-type(odd) {
    background-color: #ebedf0;
  }

  &__buttonStatus {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #c6f8e085;
    color: #024e2a;
    font-family: "Muli", sans-serif;
  }
}
