.appbar {
  &__title {
    flex-grow: 1;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.drawer {
  &__logo {
    width: 100px;
    margin-right: 25px;
  }
}

.menu {
  flex-grow: 1;
  background: linear-gradient(45deg, #03726d 35%, #ebdc5cea 90%);

  &__listItem {
    margin: 8px 0px 0px 0px !important;
    padding: 0 !important;
  }

  &__listItem:hover {
    background-color: #f8f8f8;
    color: #00524e;
    transition: all 0.4s;
  }

  &__navLink {
    width: 100%;
    padding: 4px 16px;
    display: flex;
    text-decoration: none;
  }

  &__navLink.active {
    background-color: rgb(244, 244, 244);
    color: #00524e;
  }

  &__icon {
    margin-top: 4px !important;
    color: #00524e;
  }
  &__icon svg {
    font-size: 1.8rem;
  }

  &__text {
    margin-left: 18px;
    color: #1c2e36;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2.2;
  }
}
