/* vietnamese */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk40eiNxw"),
    url(./fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk40eiNxw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk50eiNxw"),
    url(./fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk50eiNxw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg"),
    url(./fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("flUhRq6tzZclQEJ-Vdg-IuiaDsNc"),
    url(../src/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Muli", sans-serif !important;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background: rgb(244, 244, 244);
}
.main {
  margin: 2rem 0;
}

/* appbar action */
.button {
  padding: 8px 24px !important;
  font-weight: 600 !important;
  font-family: "Muli", sans-serif !important;
}
.buttonCreate,
.avatarCreate {
  background: rgba(198, 251, 191, 0.815) !important;
  color: rgb(2, 78, 42) !important;
}
.buttonShow,
.avatarShow {
  background: rgba(248, 202, 291, 0.815) !important;
  color: rgba(237, 73, 73) !important;
}

/* dialog */
.dialogButton {
  min-width: 105px !important;
  min-height: 44px !important;
  padding: 8px 24px !important;
  font-family: "Muli", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}
.dialogButtonSave {
  background: rgba(198, 251, 191, 0.815) !important;
  color: rgb(2, 78, 42) !important;
}
.dialogButtonEdit {
  background: rgba(251, 247, 191, 0.815) !important;
  color: rgb(150, 136, 12) !important;
}
.dialogButtonDelete {
  background: rgba(248, 202, 291, 0.815) !important;
  color: rgba(237, 73, 73) !important;
}
.dialogAction {
  background-color: #f8f8f8;
  border-top: 1.5px solid #daa520;
}
.dialogButtonClose {
  background: rgba(216, 215, 215, 0.815) !important;
  color: rgb(51, 51, 51) !important;
}

/* style table */
.titleTable {
  padding: 8px 16px;
  border-bottom: 1.5px solid #daa520;
}
.tileTableContent {
  font-size: 1.2rem;
  color: #333333;
  font-weight: 600;
  text-transform: uppercase;
}
.roleAdmin {
  color: rgba(237, 73, 73) !important;
}
.buttonStatus {
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  font-family: "Muli", sans-serif;
}
.statusTrue {
  background: rgba(198, 251, 191, 0.815);
  color: rgb(2, 78, 42);
}
.statusFalse {
  background: rgba(248, 202, 291, 0.815);
  color: rgba(237, 73, 73);
}
